@import url("https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap");

@import "tailwindcss";
@import "crm-project-ui/index.css";

* {
  font-family: "TASA Orbiter", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
