@import 'crm-project-ui/index.css';

@plugin "tailwindcss-animate";
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

* {
  font-family: 'TASA Orbiter', sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

.bg-stripes {
  background: repeating-linear-gradient(
    45deg,
    rgba(161, 158, 149, 0.4) 0 1px,
    transparent 1px 14px
  );
}

.path-underline {
  stroke-dasharray: 450;
  animation: draw-underline 3s ease-in-out infinite;
}

@keyframes draw-underline {
  0%,
  70% {
    stroke-dashoffset: 450;
  }

  30%,
  70% {
    stroke-dashoffset: 0;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.grainient-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.text-shadow-sm {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.carousel {
  align-items: center;
  display: flex;
  justify-content: center;
}

.slider-effect {
  content: '';
  position: absolute;
  z-index: 10;

  height: 100px;

  @media only screen and (max-width: 600px) {
    width: 75px;
  }

  @media only screen and (min-width: 600px) {
    width: 100px;
  }

  @media only screen and (min-width: 768px) {
    width: 125px;
  }

  @media only screen and (min-width: 992px) {
    width: 150px;
  }

  @media only screen and (min-width: 1200px) {
    width: 200px;
  }
}

.slider {
  background: transparent;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    @extend .slider-effect;
  }

  &::after {
    right: -1px;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: -1px;
    top: 0;
  }

  .slide-track {
    animation: scroll 90s linear infinite;
    display: flex;
    width: calc(350px * 10);
    &__stop {
      animation-play-state: paused;
    }
  }

  .slide {
    height: 200px;
    width: 150px;
    padding: 6px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .custom-slide {
    padding: 6px;
    filter: brightness(0) saturate(100%) invert(66%) sepia(14%) saturate(400%)
      hue-rotate(176deg) brightness(94%) contrast(93%);
  }

  .slide.vertical {
    height: 60px;
    width: 70px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .slide.center {
    height: 200px;
    width: 110px;
  }
}

.slider-effect-companies-map {
  content: '';
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 10;
}

.slider-companies-map {
  background: transparent;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 90%;

  &::before,
  &::after {
    @extend .slider-effect-companies-map;
  }

  &::after {
    right: -1px;
    top: 0;
    transform: rotateZ(180deg);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 5%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &::before {
    left: -1px;
    top: 0;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 5%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .slide-track {
    animation: scroll 90s linear infinite;
    display: flex;
    &__stop {
      animation-play-state: paused;
    }
  }

  .slide {
    filter: grayscale(1) brightness(0.6) opacity(0.7);
  }

  .slide.vertical {
    filter: grayscale(1) brightness(0.6) opacity(0.7);
  }

  .slide.center {
    filter: grayscale(1) brightness(0.6) opacity(0.7);
  }
}

@media (max-width: 600px) {
  .slide-track {
    animation: scroll 120s linear infinite;
    display: flex;
    width: calc(350px * 10);
    &__stop {
      animation-play-state: paused;
    }
  }
}

.slider-card {
  background: transparent;
  margin: auto;
  overflow-x: hidden;
  position: relative;
  height: 200px;
  width: 100%;

  .slide-track {
    animation: scroll 90s linear infinite;
    display: flex;
    width: calc(300px * 12);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-350px * 5));
  }
}
